.user-details {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.label-bold {
  font-size: 20px;
  font-weight: bold;
}

.subscription-select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.cta-text {
  text-align: center;
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}

.submit-container {
  text-align: center;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}
