<div class="user-details" *ngIf="isAdmin">
  <h1 class="heading">Dati Utente</h1>
  <select class="subscription-select"  [(ngModel)]="selectedSubscription">
    <option *ngFor="let element of subscriptionList" [value]="element.id">
      {{ element.name }}
    </option>
  </select>
  <p>
    <strong>ID Utente:</strong>
    <select class="subscription-select" [(ngModel)]="username">
      <option *ngFor="let element of clientList" [value]="element.username">
        {{ element.username }}
      </option>
    </select>
  </p>    
  <button class="submit-button" (click)="submitData()">Invia</button>
</div>
