<div class="table-description">
  <h2 class="table-heading">Lista delle Carte della Palestra</h2>
  <p class="table-text">
    Questa tabella rappresenta tutte le carte presenti nella palestra. Puoi utilizzare la casella di ricerca per cercare una carta specifica in base al nome. Cliccando sul pulsante "Premi per eliminare", puoi cancellare una carta dalla piattaforma.
  </p>
</div>

<div class="table-container">
  <input type="text" [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Cerca per nome" class="search-input">
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Subscription</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>User</th>
        <th>Operazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of filteredCardList">
        <td>{{ card.id }}</td>
        <td>{{ card.subscription?.name }}</td>
        <td>{{ card.startDate }}</td>
        <td>{{ card.endDate }}</td>
        <td>{{ card.user.username }}</td>
        <td>
          <button (click)="confirmDeleteCard(card)">Premi per eliminare</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
