<div class="table-description">
  <h2 class="table-heading">Lista delle Carte della Palestra</h2>
  <p class="table-text">
    Questa tabella rappresenta tutte le carte presenti nella palestra. Puoi utilizzare la casella di ricerca per cercare una carta specifica in base al nome. Cliccando sul pulsante "Premi per eliminare", puoi cancellare una carta dalla piattaforma.
  </p>
</div>

<div class="table-container">
  <input type="text" [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Cerca per nome" class="search-input">
  <table class="user-table">
    <thead>
      <tr>
        <th (click)="sortColumn('id')">
          <i class="fas fa-id-card"></i> ID
          <i class="fas fa-sort" [ngClass]="{'fa-sort-up': currentSortColumn === 'id' && sortDirection === 'asc', 'fa-sort-down': currentSortColumn === 'id' && sortDirection === 'desc'}"></i>
        </th>
        <th><i class="fas fa-file-alt"></i> Subscription</th>
        <th (click)="sortColumn('startDate')">
          <i class="far fa-calendar-alt"></i> Start Date
          <i class="fas fa-sort" [ngClass]="{'fa-sort-up': currentSortColumn === 'startDate' && sortDirection === 'asc', 'fa-sort-down': currentSortColumn === 'startDate' && sortDirection === 'desc'}"></i>
        </th>
        <th (click)="sortColumn('endDate')">
          <i class="far fa-calendar-alt"></i> End Date
          <i class="fas fa-sort" [ngClass]="{'fa-sort-up': currentSortColumn === 'endDate' && sortDirection === 'asc', 'fa-sort-down': currentSortColumn === 'endDate' && sortDirection === 'desc'}"></i>
        </th>
        <th (click)="sortColumn('user.username')">
          <i class="fas fa-user"></i> User
          <i class="fas fa-sort" [ngClass]="{'fa-sort-up': currentSortColumn === 'user.username' && sortDirection === 'asc', 'fa-sort-down': currentSortColumn === 'user.username' && sortDirection === 'desc'}"></i>
        </th>
        <th><i class="fas fa-trash-alt"></i> Operazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of filteredCardList">
        <td>
          <i class="fas fa-id-card"></i> {{ card.id }}
        </td>
        <td>{{ card.subscription?.name }}</td>
        <td>
          <i class="far fa-calendar-alt"></i> {{ card.startDate }}
        </td>
        <td>
          <i class="far fa-calendar-alt"></i> {{ card.endDate }}
        </td>
        <td>
          <i class="fas fa-user"></i> {{ card.user.username }}
        </td>
        <td>
          <button (click)="confirmDeleteCard(card)">
            <i class="fas fa-trash-alt"></i> Premi per eliminare
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
