.table-container {
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.search-input {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 5px 10px;
  background-color: #9f0606;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.table-description {
  text-align: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}

.table-heading {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  color: #000;
  margin-bottom: 10px;
}

.table-text {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #000;
  margin-bottom: 0;
}

.table-container {
  font-family: Arial, sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
}
.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.search-input {
  padding-right: 30px; 
}

