<nav *ngIf="showNavbar" class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <i class="fas fa-dumbbell"></i>
    <span class="navbar-brand-text">Gym Management</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage-client" routerLinkActive="active">
          <i class="fa fa-user"></i>
          Manage Clients
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage-cards" routerLinkActive="active">
          <i class="fas fa-credit-card"></i>
          Manage Cards
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span class="badge badge-primary">11</span>
          </i>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Something else here</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="confirmLogout()">
          <i class="fas fa-sign-out-alt"></i> 
          Logout
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
