<div class="table-description">
  <h2 class="table-heading">Lista Utenti della Palestra</h2>
  <p class="table-text">
    Questa tabella rappresenta tutti gli utenti presenti nella palestra. Puoi utilizzare la casella di ricerca per filtrare gli utenti in base al loro username. Cliccando sul pulsante "Premi per eliminare", puoi cancellare un utente dalla piattaforma.
  </p>
</div>

<div class="table-container">
  <input type="text" [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Cerca per username" class="search-input">
  <table class="user-table">
    <thead>
      <tr>
        <th class="text-center" (click)="sortColumn('id')">
          <i class="fas fa-id-card"></i> ID
          <i class="fas fa-sort" [ngClass]="{'fa-sort-up': currentSortColumn === 'id' && sortDirection === 'asc', 'fa-sort-down': currentSortColumn === 'id' && sortDirection === 'desc'}"></i>
        </th>
        <th class="text-center" (click)="sortColumn('username')">
          <i class="fas fa-user"></i> Username
          <i class="fas fa-sort" [ngClass]="{'fa-sort-up': currentSortColumn === 'username' && sortDirection === 'asc', 'fa-sort-down': currentSortColumn === 'username' && sortDirection === 'desc'}"></i>
        </th>
        <th class="text-center">Operazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of clientList">
        <td class="text-center">
          <i class="fas fa-id-card"></i> {{ user.id }}
        </td>
        <td class="text-center">
          <i class="fas fa-user"></i> {{ user.username }}
        </td>
        <td class="text-center">
          <button (click)="confirmDeleteUser(user)">Premi per eliminare</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
