<div class="table-container">
  <input type="text" [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Cerca per username" class="search-input">
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Operazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of clientList">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>
          <button (click)="deleteUser(user.id)">Premi per eliminare</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
